<h1>詳細</h1>
<%= if event.present? then form_for event, url:'/calendar/update' do |f| %>
    <%= f.hidden_field :id %>
    <p><b><%= f.label :name,"タイトル" %></b><br>
    <%= event.name %><br></p>
    <p><b><%= f.label :start_at,"開始時刻" %></b><br>
    <%#= event.start_at.to_s %>
    <%= if !event.start_at.nil? then I18n.localize(event.start_at, :format => :long) end %><br></p>
    <p><b><%= f.label :end_at,"終了時刻" %></b><br>
    <%= if !event.end_at.nil? then I18n.localize(event.end_at, :format => :long) end %><br></p>
    <p><b><%= f.label :place,"場所" %></b><br>
    <%= event.place %><br></p>
    <p><b><%= f.label :person,"相手" %></b><br>
    <%= event.person %><br></p>
    <p><b><%= f.label :baggage,"持ち物" %></b><br>
    <%= event.baggage %><br></p>
    <p><b><%= f.label :category,"カテゴリ" %></b><br>
    <% case event.category %>
    <% when 1 then %>
    <%= "遊び" %>
    <% when 2 then %>
    <%= "研究室" %>
    <% when 3 then %>
    <%= "バイト" %>
    <% when 4 then %>
    <%= "授業" %>
    <% when 0 then %>
    <%= "その他" %>
    <% else%>
    <% end %><br><br>
    <% if !event.start_at.nil? then %>
    <%= link_to '編集', '#', class: 'editopen' %>
    <% end %>
    <%#= f.submit "更新"%>
    <%#= .to_s(:published_on)
    <%#= submit_tag "削除", name:"delete_button" %>
<% end end%>
