<h1>詳細</h1>
<%= if !event.nil? then form_for event, url:'/calendar/update' do |f| %>
    <%= f.hidden_field :id %>
    <p><b><%= f.label :name %></b>
    <%= f.text_field :name %></p>
    <p><b><%= f.label :start_at %></b>
    <%= f.datetime_select :start_at %></p>
    <p><b><%= f.label :end_at %></b>
    <%= f.datetime_select :end_at %></p>
    <p><b><%= f.label :place %></b>
    <%= f.text_field :place %></p>
    <p><b><%= f.label :person %></b>
    <%= f.text_field :person %></p>
    <p><b><%= f.label :baggage %></b>
    <%= f.text_field :baggage %></p>
    <p><b><%= f.label :category %></b>
    <%= f.text_field :category %></p>
    <%= f.submit "更新"%>
    <%= submit_tag "削除", name:"delete_button" %>
<% end end%>
