<h1>詳細</h1>
<h1><%= if !event.nil? then event.name end%></h1>
<p><b>開始時間: </b><%= if !event.nil? then event.start_at end%>
<p><b>終了時間: </b><%= if !event.nil? then event.end_at end%>
<p><b>場所: </b><%= if !event.nil? then event.place end%>
<p><b>相手: </b><%= if !event.nil? then event.person end%>
<p><b>持ち物: </b><%= if !event.nil? then event.baggage end%>
<p><b>カテゴリ: </b><%= if !event.nil? then event.category end%>
<%= if !event.nil? then link_to "削除", controller:"events", action:"delete" , event: event end%>
