<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>
<style>
  .selected a{
    background: orange !important
  }
</style>

<h1>スケジューラ</h1>
<div style="display:inline-flex", id="table">
<%#= 
<img src="/img/timelabel2.png" alt="時間" width=100 height=1000>
</table>%>
<br>
<br>
<table bordercolorlight="white" height ="1000" >
<head>
<caption>h</caption>
  <thead>
  <tr bgcolor="green">
    <tr><th>時間</th></tr>
    </tr>
  </thead>
  <tbody>
    <tr><th style="line-height:3.2" align="right"><a>1:00</a></tr>
    <tr><th style="line-height:0" align="right"><a>2:00</a></tr>
    <tr><th style="line-height:3.0" align="right"><a>3:00</a></td></tr>
    <tr class="odd"><th style="line-height:0" align="right"><a>4:00</a></td></tr>
    <tr><th style="line-height:3.0" align="right"><a>5:00</a></td></tr>
    <tr><th style="line-height:0" align="right"><a>6:00</a></td></tr>
    <tr class="odd"><th style="line-height:3.0" align="right"><a>7:00</a></td></tr>
    <tr><th style="line-height:0" align="right"><a>8:00</a></td></tr>
    <tr class="odd"><th style="line-height:3.0" align="right"><a>9:00</a></td></tr>
    <tr><th style="line-height:0"><a>10:00</a></td></tr>
    <tr><th style="line-height:3.0"><a>11:00</a></td></tr>
    <tr class="odd"><th style="line-height:0"><a>12:00</a></td></tr>
    <tr><th style="line-height:3.0"><a>13:00</a></td></tr>
    <tr class="odd"><th style="line-height:0"><a>14:00</a></td></tr>
    <tr><th style="line-height:3.0"><a>15:00</a></td></tr>
    <tr><th style="line-height:0"><a>16:00</a></td></tr>
    <tr class="odd"><th style="line-height:3.0"><a>17:00</a></td></tr>
    <tr><th style="line-height:0"><a>18:00</a></td></tr>
    <tr class="odd"><th style="line-height:3.0"><a>19:00</a></td></tr>
    <tr><th style="line-height:0"><a>20:00</a></td></tr>
    <tr><th style="line-height:3.0"><a>21:00</a></td></tr>
    <tr class="odd"><th style="line-height:0"><a>22:00</a></td></tr>
    <tr><th style="line-height:3.0"><a>23:00</a></td></tr>
    <tr class="odd"><th style="line-height:0"><a>24:00</a></td></tr>
  </tbody>
  </head>
</table>

<table border width ="500" height ="1000">
<head>
  <caption>today</caption>
  <thead>
  <tr>
    <tr height = "38"><th>予定</th><th>場所</th></tr>
    </tr>
  </thead>
  <tbody>
   <% if !@today[0].nil? && @today[0].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[0].nil? then @today[0].name end %></a></td><td><%= if !@today[0].nil? then @today[0].place end %></td></th>
    <% elsif !@today[0].nil? && @today[0].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[0].nil? then @today[0].name end %></a></td><td><%= if !@today[0].nil? then @today[0].place end %></td></th>
    <% elsif !@today[0].nil? && @today[0].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[0].nil? then @today[0].name end %></a></td><td><%= if !@today[0].nil? then @today[0].place end %></td></th>
    <% elsif !@today[0].nil? && @today[0].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[0].nil? then @today[0].name end %></a></td><td><%= if !@today[0].nil? then @today[0].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[0].nil? then @today[0].name end %></a></td><td><%= if !@today[0].nil? then @today[0].place end %></td></tr>
     <% end %>

   <% if !@today[1].nil? && @today[1].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[1].nil? then @today[1].name end %></a></td><td><%= if !@today[1].nil? then @today[1].place end %></td></th>
    <% elsif !@today[1].nil? && @today[1].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[1].nil? then @today[1].name end %></a></td><td><%= if !@today[1].nil? then @today[1].place end %></td></th>
    <% elsif !@today[1].nil? && @today[1].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[1].nil? then @today[1].name end %></a></td><td><%= if !@today[1].nil? then @today[1].place end %></td></th>
    <% elsif !@today[1].nil? && @today[1].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[1].nil? then @today[1].name end %></a></td><td><%= if !@today[1].nil? then @today[1].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[1].nil? then @today[1].name end %></a></td><td><%= if !@today[1].nil? then @today[1].place end %></td></tr>
     <% end %>

  <% if !@today[2].nil? && @today[2].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[2].nil? then @today[2].name end %></a></td><td><%= if !@today[2].nil? then @today[2].place end %></td></th>
    <% elsif !@today[2].nil? && @today[2].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[2].nil? then @today[2].name end %></a></td><td><%= if !@today[2].nil? then @today[2].place end %></td></th>
    <% elsif !@today[2].nil? && @today[2].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[2].nil? then @today[2].name end %></a></td><td><%= if !@today[2].nil? then @today[2].place end %></td></th>
    <% elsif !@today[2].nil? && @today[2].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[2].nil? then @today[2].name end %></a></td><td><%= if !@today[2].nil? then @today[2].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[2].nil? then @today[2].name end %></a></td><td><%= if !@today[2].nil? then @today[2].place end %></td></tr>
     <% end %>

  <% if !@today[3].nil? && @today[3].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[3].nil? then @today[3].name end %></a></td><td><%= if !@today[3].nil? then @today[3].place end %></td></th>
    <% elsif !@today[3].nil? && @today[3].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[3].nil? then @today[3].name end %></a></td><td><%= if !@today[3].nil? then @today[3].place end %></td></th>
    <% elsif !@today[3].nil? && @today[3].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[3].nil? then @today[3].name end %></a></td><td><%= if !@today[3].nil? then @today[3].place end %></td></th>
    <% elsif !@today[3].nil? && @today[3].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[3].nil? then @today[3].name end %></a></td><td><%= if !@today[3].nil? then @today[3].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[3].nil? then @today[3].name end %></a></td><td><%= if !@today[3].nil? then @today[3].place end %></td></tr>
     <% end %>

  <% if !@today[4].nil? && @today[4].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[4].nil? then @today[4].name end %></a></td><td><%= if !@today[4].nil? then @today[4].place end %></td></th>
    <% elsif !@today[4].nil? && @today[4].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[4].nil? then @today[4].name end %></a></td><td><%= if !@today[4].nil? then @today[4].place end %></td></th>
    <% elsif !@today[4].nil? && @today[4].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[4].nil? then @today[4].name end %></a></td><td><%= if !@today[4].nil? then @today[4].place end %></td></th>
    <% elsif !@today[4].nil? && @today[4].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[4].nil? then @today[4].name end %></a></td><td><%= if !@today[4].nil? then @today[4].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[4].nil? then @today[4].name end %></a></td><td><%= if !@today[4].nil? then @today[4].place end %></td></tr>
     <% end %>

  <% if !@today[5].nil? && @today[5].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[5].nil? then @today[5].name end %></a></td><td><%= if !@today[5].nil? then @today[5].place end %></td></th>
    <% elsif !@today[5].nil? && @today[5].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[5].nil? then @today[5].name end %></a></td><td><%= if !@today[5].nil? then @today[5].place end %></td></th>
    <% elsif !@today[5].nil? && @today[5].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[5].nil? then @today[5].name end %></a></td><td><%= if !@today[5].nil? then @today[5].place end %></td></th>
    <% elsif !@today[5].nil? && @today[5].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[5].nil? then @today[5].name end %></a></td><td><%= if !@today[5].nil? then @today[5].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[5].nil? then @today[5].name end %></a></td><td><%= if !@today[5].nil? then @today[5].place end %></td></tr>
     <% end %>

  <% if !@today[6].nil? && @today[6].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[6].nil? then @today[6].name end %></a></td><td><%= if !@today[6].nil? then @today[6].place end %></td></th>
    <% elsif !@today[6].nil? && @today[6].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[6].nil? then @today[6].name end %></a></td><td><%= if !@today[6].nil? then @today[6].place end %></td></th>
    <% elsif !@today[6].nil? && @today[6].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[6].nil? then @today[6].name end %></a></td><td><%= if !@today[6].nil? then @today[6].place end %></td></th>
    <% elsif !@today[6].nil? && @today[6].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[6].nil? then @today[6].name end %></a></td><td><%= if !@today[6].nil? then @today[6].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[6].nil? then @today[6].name end %></a></td><td><%= if !@today[6].nil? then @today[6].place end %></td></tr>
     <% end %>

  <% if !@today[7].nil? && @today[7].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[7].nil? then @today[7].name end %></a></td><td><%= if !@today[7].nil? then @today[7].place end %></td></th>
    <% elsif !@today[7].nil? && @today[7].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[7].nil? then @today[7].name end %></a></td><td><%= if !@today[7].nil? then @today[7].place end %></td></th>
    <% elsif !@today[7].nil? && @today[7].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[7].nil? then @today[7].name end %></a></td><td><%= if !@today[7].nil? then @today[7].place end %></td></th>
    <% elsif !@today[7].nil? && @today[7].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[7].nil? then @today[7].name end %></a></td><td><%= if !@today[7].nil? then @today[7].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[7].nil? then @today[7].name end %></a></td><td><%= if !@today[7].nil? then @today[7].place end %></td></tr>
     <% end %>

  <% if !@today[8].nil? && @today[8].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[8].nil? then @today[8].name end %></a></td><td><%= if !@today[8].nil? then @today[8].place end %></td></th>
    <% elsif !@today[8].nil? && @today[8].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[8].nil? then @today[8].name end %></a></td><td><%= if !@today[8].nil? then @today[8].place end %></td></th>
    <% elsif !@today[8].nil? && @today[8].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[8].nil? then @today[8].name end %></a></td><td><%= if !@today[8].nil? then @today[8].place end %></td></th>
    <% elsif !@today[8].nil? && @today[8].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[8].nil? then @today[8].name end %></a></td><td><%= if !@today[8].nil? then @today[8].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[8].nil? then @today[8].name end %></a></td><td><%= if !@today[8].nil? then @today[8].place end %></td></tr>
     <% end %>

  <% if !@today[9].nil? && @today[9].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[9].nil? then @today[9].name end %></a></td><td><%= if !@today[9].nil? then @today[9].place end %></td></th>
    <% elsif !@today[9].nil? && @today[9].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[9].nil? then @today[9].name end %></a></td><td><%= if !@today[9].nil? then @today[9].place end %></td></th>
    <% elsif !@today[9].nil? && @today[9].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[9].nil? then @today[9].name end %></a></td><td><%= if !@today[9].nil? then @today[9].place end %></td></th>
    <% elsif !@today[9].nil? && @today[9].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[9].nil? then @today[9].name end %></a></td><td><%= if !@today[9].nil? then @today[9].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[9].nil? then @today[9].name end %></a></td><td><%= if !@today[9].nil? then @today[9].place end %></td></tr>
     <% end %>

  <% if !@today[10].nil? && @today[10].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[10].nil? then @today[10].name end %></a></td><td><%= if !@today[10].nil? then @today[10].place end %></td></th>
    <% elsif !@today[10].nil? && @today[10].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[10].nil? then @today[10].name end %></a></td><td><%= if !@today[10].nil? then @today[10].place end %></td></th>
    <% elsif !@today[10].nil? && @today[10].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[10].nil? then @today[10].name end %></a></td><td><%= if !@today[10].nil? then @today[10].place end %></td></th>
    <% elsif !@today[10].nil? && @today[10].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[10].nil? then @today[10].name end %></a></td><td><%= if !@today[10].nil? then @today[10].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[10].nil? then @today[10].name end %></a></td><td><%= if !@today[10].nil? then @today[10].place end %></td></tr>
     <% end %>

   <% if !@today[11].nil? && @today[11].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[11].nil? then @today[11].name end %></a></td><td><%= if !@today[11].nil? then @today[11].place end %></td></th>
    <% elsif !@today[11].nil? && @today[11].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[11].nil? then @today[11].name end %></a></td><td><%= if !@today[11].nil? then @today[11].place end %></td></th>
    <% elsif !@today[11].nil? && @today[11].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[11].nil? then @today[11].name end %></a></td><td><%= if !@today[11].nil? then @today[11].place end %></td></th>
    <% elsif !@today[11].nil? && @today[11].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[11].nil? then @today[11].name end %></a></td><td><%= if !@today[11].nil? then @today[11].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[11].nil? then @today[11].name end %></a></td><td><%= if !@today[11].nil? then @today[11].place end %></td></tr>
     <% end %>

  <% if !@today[12].nil? && @today[12].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[12].nil? then @today[12].name end %></a></td><td><%= if !@today[12].nil? then @today[12].place end %></td></th>
    <% elsif !@today[12].nil? && @today[12].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[12].nil? then @today[12].name end %></a></td><td><%= if !@today[12].nil? then @today[12].place end %></td></th>
    <% elsif !@today[12].nil? && @today[12].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[12].nil? then @today[12].name end %></a></td><td><%= if !@today[12].nil? then @today[12].place end %></td></th>
    <% elsif !@today[12].nil? && @today[12].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[12].nil? then @today[12].name end %></a></td><td><%= if !@today[12].nil? then @today[12].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[12].nil? then @today[12].name end %></a></td><td><%= if !@today[12].nil? then @today[12].place end %></td></tr>
     <% end %>

  <% if !@today[13].nil? && @today[13].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[13].nil? then @today[13].name end %></a></td><td><%= if !@today[13].nil? then @today[13].place end %></td></th>
    <% elsif !@today[13].nil? && @today[13].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[13].nil? then @today[13].name end %></a></td><td><%= if !@today[13].nil? then @today[13].place end %></td></th>
    <% elsif !@today[13].nil? && @today[13].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[13].nil? then @today[13].name end %></a></td><td><%= if !@today[13].nil? then @today[13].place end %></td></th>
    <% elsif !@today[13].nil? && @today[13].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[13].nil? then @today[13].name end %></a></td><td><%= if !@today[13].nil? then @today[13].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[13].nil? then @today[13].name end %></a></td><td><%= if !@today[13].nil? then @today[13].place end %></td></tr>
     <% end %>

  <% if !@today[14].nil? && @today[14].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[14].nil? then @today[14].name end %></a></td><td><%= if !@today[14].nil? then @today[14].place end %></td></th>
    <% elsif !@today[14].nil? && @today[14].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[14].nil? then @today[14].name end %></a></td><td><%= if !@today[14].nil? then @today[14].place end %></td></th>
    <% elsif !@today[14].nil? && @today[14].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[14].nil? then @today[14].name end %></a></td><td><%= if !@today[14].nil? then @today[14].place end %></td></th>
    <% elsif !@today[14].nil? && @today[14].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[14].nil? then @today[14].name end %></a></td><td><%= if !@today[14].nil? then @today[14].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[14].nil? then @today[14].name end %></a></td><td><%= if !@today[14].nil? then @today[14].place end %></td></tr>
     <% end %>

  <% if !@today[15].nil? && @today[15].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[15].nil? then @today[15].name end %></a></td><td><%= if !@today[15].nil? then @today[15].place end %></td></th>
    <% elsif !@today[15].nil? && @today[15].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[15].nil? then @today[15].name end %></a></td><td><%= if !@today[15].nil? then @today[15].place end %></td></th>
    <% elsif !@today[15].nil? && @today[15].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[15].nil? then @today[15].name end %></a></td><td><%= if !@today[15].nil? then @today[15].place end %></td></th>
    <% elsif !@today[15].nil? && @today[15].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[15].nil? then @today[15].name end %></a></td><td><%= if !@today[15].nil? then @today[15].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[15].nil? then @today[15].name end %></a></td><td><%= if !@today[15].nil? then @today[15].place end %></td></tr>
     <% end %>

  <% if !@today[16].nil? && @today[16].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[16].nil? then @today[16].name end %></a></td><td><%= if !@today[16].nil? then @today[16].place end %></td></th>
    <% elsif !@today[16].nil? && @today[16].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[16].nil? then @today[16].name end %></a></td><td><%= if !@today[16].nil? then @today[16].place end %></td></th>
    <% elsif !@today[16].nil? && @today[16].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[16].nil? then @today[16].name end %></a></td><td><%= if !@today[16].nil? then @today[16].place end %></td></th>
    <% elsif !@today[16].nil? && @today[16].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[16].nil? then @today[16].name end %></a></td><td><%= if !@today[16].nil? then @today[16].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[16].nil? then @today[16].name end %></a></td><td><%= if !@today[16].nil? then @today[16].place end %></td></tr>
     <% end %>

  <% if !@today[17].nil? && @today[17].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[17].nil? then @today[17].name end %></a></td><td><%= if !@today[17].nil? then @today[17].place end %></td></th>
    <% elsif !@today[17].nil? && @today[17].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[17].nil? then @today[17].name end %></a></td><td><%= if !@today[17].nil? then @today[17].place end %></td></th>
    <% elsif !@today[17].nil? && @today[17].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[17].nil? then @today[17].name end %></a></td><td><%= if !@today[17].nil? then @today[17].place end %></td></th>
    <% elsif !@today[17].nil? && @today[17].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[17].nil? then @today[17].name end %></a></td><td><%= if !@today[17].nil? then @today[17].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[17].nil? then @today[17].name end %></a></td><td><%= if !@today[17].nil? then @today[17].place end %></td></tr>
     <% end %>

  <% if !@today[18].nil? && @today[18].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[18].nil? then @today[18].name end %></a></td><td><%= if !@today[18].nil? then @today[18].place end %></td></th>
    <% elsif !@today[18].nil? && @today[18].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[18].nil? then @today[18].name end %></a></td><td><%= if !@today[18].nil? then @today[18].place end %></td></th>
    <% elsif !@today[18].nil? && @today[18].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[18].nil? then @today[18].name end %></a></td><td><%= if !@today[18].nil? then @today[18].place end %></td></th>
    <% elsif !@today[18].nil? && @today[18].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[18].nil? then @today[18].name end %></a></td><td><%= if !@today[18].nil? then @today[18].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[18].nil? then @today[18].name end %></a></td><td><%= if !@today[18].nil? then @today[18].place end %></td></tr>
     <% end %>

  <% if !@today[19].nil? && @today[19].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[19].nil? then @today[19].name end %></a></td><td><%= if !@today[19].nil? then @today[19].place end %></td></th>
    <% elsif !@today[19].nil? && @today[19].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[19].nil? then @today[19].name end %></a></td><td><%= if !@today[19].nil? then @today[19].place end %></td></th>
    <% elsif !@today[19].nil? && @today[19].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[19].nil? then @today[19].name end %></a></td><td><%= if !@today[19].nil? then @today[19].place end %></td></th>
    <% elsif !@today[19].nil? && @today[19].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[19].nil? then @today[19].name end %></a></td><td><%= if !@today[19].nil? then @today[19].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[19].nil? then @today[19].name end %></a></td><td><%= if !@today[19].nil? then @today[19].place end %></td></tr>
     <% end %>

  <% if !@today[20].nil? && @today[20].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[20].nil? then @today[20].name end %></a></td><td><%= if !@today[20].nil? then @today[20].place end %></td></th>
    <% elsif !@today[20].nil? && @today[20].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[20].nil? then @today[20].name end %></a></td><td><%= if !@today[20].nil? then @today[20].place end %></td></th>
    <% elsif !@today[20].nil? && @today[20].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[20].nil? then @today[20].name end %></a></td><td><%= if !@today[20].nil? then @today[20].place end %></td></th>
    <% elsif !@today[20].nil? && @today[20].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[20].nil? then @today[20].name end %></a></td><td><%= if !@today[20].nil? then @today[20].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[20].nil? then @today[20].name end %></a></td><td><%= if !@today[20].nil? then @today[20].place end %></td></tr>
     <% end %>

   <% if !@today[21].nil? && @today[21].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[21].nil? then @today[21].name end %></a></td><td><%= if !@today[21].nil? then @today[21].place end %></td></th>
    <% elsif !@today[21].nil? && @today[21].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[21].nil? then @today[21].name end %></a></td><td><%= if !@today[21].nil? then @today[21].place end %></td></th>
    <% elsif !@today[21].nil? && @today[21].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[21].nil? then @today[21].name end %></a></td><td><%= if !@today[21].nil? then @today[21].place end %></td></th>
    <% elsif !@today[21].nil? && @today[21].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[21].nil? then @today[21].name end %></a></td><td><%= if !@today[21].nil? then @today[21].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[21].nil? then @today[21].name end %></a></td><td><%= if !@today[21].nil? then @today[21].place end %></td></tr>
     <% end %>

  <% if !@today[22].nil? && @today[22].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[22].nil? then @today[22].name end %></a></td><td><%= if !@today[22].nil? then @today[22].place end %></td></th>
    <% elsif !@today[22].nil? && @today[22].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[22].nil? then @today[22].name end %></a></td><td><%= if !@today[22].nil? then @today[22].place end %></td></th>
    <% elsif !@today[22].nil? && @today[22].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[22].nil? then @today[22].name end %></a></td><td><%= if !@today[22].nil? then @today[22].place end %></td></th>
    <% elsif !@today[22].nil? && @today[22].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[22].nil? then @today[22].name end %></a></td><td><%= if !@today[22].nil? then @today[22].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[22].nil? then @today[22].name end %></a></td><td><%= if !@today[22].nil? then @today[22].place end %></td></tr>
     <% end %>

  <% if !@today[23].nil? && @today[23].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@today[23].nil? then @today[23].name end %></a></td><td><%= if !@today[23].nil? then @today[23].place end %></td></th>
    <% elsif !@today[23].nil? && @today[23].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@today[23].nil? then @today[23].name end %></a></td><td><%= if !@today[23].nil? then @today[23].place end %></td></th>
    <% elsif !@today[23].nil? && @today[23].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@today[23].nil? then @today[23].name end %></a></td><td><%= if !@today[23].nil? then @today[23].place end %></td></th>
    <% elsif !@today[23].nil? && @today[23].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@today[23].nil? then @today[23].name end %></a></td><td><%= if !@today[23].nil? then @today[23].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@today[23].nil? then @today[23].name end %></a></td><td><%= if !@today[23].nil? then @today[23].place end %></td></tr>
     <% end %>

  </tbody>
  </head>
</table>

<table border width ="500" height ="1000">
<head>
  <caption>tomorrow</caption>
  <thead>
  <tr>
    <tr height = "38"><th>予定</th><th>場所</th></tr>
    </tr>
  </thead>
  <tbody>
  <% if !@tomorrow[0].nil? && @tomorrow[0].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[0].nil? then @tomorrow[0].name end %></a></td><td><%= if !@tomorrow[0].nil? then @tomorrow[0].place end %></td></th>
    <% elsif !@tomorrow[0].nil? && @tomorrow[0].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[0].nil? then @tomorrow[0].name end %></a></td><td><%= if !@tomorrow[0].nil? then @tomorrow[0].place end %></td></th>
    <% elsif !@tomorrow[0].nil? && @tomorrow[0].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[0].nil? then @tomorrow[0].name end %></a></td><td><%= if !@tomorrow[0].nil? then @tomorrow[0].place end %></td></th>
    <% elsif !@tomorrow[0].nil? && @tomorrow[0].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[0].nil? then @tomorrow[0].name end %></a></td><td><%= if !@tomorrow[0].nil? then @tomorrow[0].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[0].nil? then @tomorrow[0].name end %></a></td><td><%= if !@tomorrow[0].nil? then @tomorrow[0].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[1].nil? && @tomorrow[1].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[1].nil? then @tomorrow[1].name end %></a></td><td><%= if !@tomorrow[1].nil? then @tomorrow[1].place end %></td></th>
    <% elsif !@tomorrow[1].nil? && @tomorrow[1].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[1].nil? then @tomorrow[1].name end %></a></td><td><%= if !@tomorrow[1].nil? then @tomorrow[1].place end %></td></th>
    <% elsif !@tomorrow[1].nil? && @tomorrow[1].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[1].nil? then @tomorrow[1].name end %></a></td><td><%= if !@tomorrow[1].nil? then @tomorrow[1].place end %></td></th>
    <% elsif !@tomorrow[1].nil? && @tomorrow[1].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[1].nil? then @tomorrow[1].name end %></a></td><td><%= if !@tomorrow[1].nil? then @tomorrow[1].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[1].nil? then @tomorrow[1].name end %></a></td><td><%= if !@tomorrow[1].nil? then @tomorrow[1].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[2].nil? && @tomorrow[2].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[2].nil? then @tomorrow[2].name end %></a></td><td><%= if !@tomorrow[2].nil? then @tomorrow[2].place end %></td></th>
    <% elsif !@tomorrow[2].nil? && @tomorrow[2].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[2].nil? then @tomorrow[2].name end %></a></td><td><%= if !@tomorrow[2].nil? then @tomorrow[2].place end %></td></th>
    <% elsif !@tomorrow[2].nil? && @tomorrow[2].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[2].nil? then @tomorrow[2].name end %></a></td><td><%= if !@tomorrow[2].nil? then @tomorrow[2].place end %></td></th>
    <% elsif !@tomorrow[0].nil? && @tomorrow[0].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[2].nil? then @tomorrow[2].name end %></a></td><td><%= if !@tomorrow[2].nil? then @tomorrow[2].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[2].nil? then @tomorrow[2].name end %></a></td><td><%= if !@tomorrow[2].nil? then @tomorrow[2].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[3].nil? && @tomorrow[3].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[3].nil? then @tomorrow[3].name end %></a></td><td><%= if !@tomorrow[3].nil? then @tomorrow[3].place end %></td></th>
    <% elsif !@tomorrow[3].nil? && @tomorrow[3].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[3].nil? then @tomorrow[3].name end %></a></td><td><%= if !@tomorrow[3].nil? then @tomorrow[3].place end %></td></th>
    <% elsif !@tomorrow[3].nil? && @tomorrow[3].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[3].nil? then @tomorrow[3].name end %></a></td><td><%= if !@tomorrow[3].nil? then @tomorrow[3].place end %></td></th>
    <% elsif !@tomorrow[3].nil? && @tomorrow[3].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[3].nil? then @tomorrow[3].name end %></a></td><td><%= if !@tomorrow[3].nil? then @tomorrow[3].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[3].nil? then @tomorrow[3].name end %></a></td><td><%= if !@tomorrow[3].nil? then @tomorrow[3].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[4].nil? && @tomorrow[4].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[4].nil? then @tomorrow[4].name end %></a></td><td><%= if !@tomorrow[4].nil? then @tomorrow[4].place end %></td></th>
    <% elsif !@tomorrow[4].nil? && @tomorrow[4].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[4].nil? then @tomorrow[4].name end %></a></td><td><%= if !@tomorrow[4].nil? then @tomorrow[4].place end %></td></th>
    <% elsif !@tomorrow[4].nil? && @tomorrow[4].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[4].nil? then @tomorrow[4].name end %></a></td><td><%= if !@tomorrow[4].nil? then @tomorrow[4].place end %></td></th>
    <% elsif !@tomorrow[4].nil? && @tomorrow[4].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[4].nil? then @tomorrow[4].name end %></a></td><td><%= if !@tomorrow[4].nil? then @tomorrow[4].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[4].nil? then @tomorrow[4].name end %></a></td><td><%= if !@tomorrow[4].nil? then @tomorrow[4].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[5].nil? && @tomorrow[5].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[5].nil? then @tomorrow[5].name end %></a></td><td><%= if !@tomorrow[5].nil? then @tomorrow[5].place end %></td></th>
    <% elsif !@tomorrow[5].nil? && @tomorrow[5].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[5].nil? then @tomorrow[5].name end %></a></td><td><%= if !@tomorrow[5].nil? then @tomorrow[5].place end %></td></th>
    <% elsif !@tomorrow[5].nil? && @tomorrow[5].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[5].nil? then @tomorrow[5].name end %></a></td><td><%= if !@tomorrow[5].nil? then @tomorrow[5].place end %></td></th>
    <% elsif !@tomorrow[5].nil? && @tomorrow[5].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[5].nil? then @tomorrow[5].name end %></a></td><td><%= if !@tomorrow[5].nil? then @tomorrow[5].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[5].nil? then @tomorrow[5].name end %></a></td><td><%= if !@tomorrow[5].nil? then @tomorrow[5].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[6].nil? && @tomorrow[6].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[6].nil? then @tomorrow[6].name end %></a></td><td><%= if !@tomorrow[6].nil? then @tomorrow[6].place end %></td></th>
    <% elsif !@tomorrow[6].nil? && @tomorrow[6].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[6].nil? then @tomorrow[6].name end %></a></td><td><%= if !@tomorrow[6].nil? then @tomorrow[6].place end %></td></th>
    <% elsif !@tomorrow[6].nil? && @tomorrow[6].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[6].nil? then @tomorrow[6].name end %></a></td><td><%= if !@tomorrow[6].nil? then @tomorrow[6].place end %></td></th>
    <% elsif !@tomorrow[6].nil? && @tomorrow[6].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[6].nil? then @tomorrow[6].name end %></a></td><td><%= if !@tomorrow[6].nil? then @tomorrow[6].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[6].nil? then @tomorrow[6].name end %></a></td><td><%= if !@tomorrow[6].nil? then @tomorrow[6].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[7].nil? && @tomorrow[7].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[7].nil? then @tomorrow[7].name end %></a></td><td><%= if !@tomorrow[7].nil? then @tomorrow[7].place end %></td></th>
    <% elsif !@tomorrow[7].nil? && @tomorrow[7].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[7].nil? then @tomorrow[7].name end %></a></td><td><%= if !@tomorrow[7].nil? then @tomorrow[7].place end %></td></th>
    <% elsif !@tomorrow[7].nil? && @tomorrow[7].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[7].nil? then @tomorrow[7].name end %></a></td><td><%= if !@tomorrow[7].nil? then @tomorrow[7].place end %></td></th>
    <% elsif !@tomorrow[7].nil? && @tomorrow[7].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[7].nil? then @tomorrow[7].name end %></a></td><td><%= if !@tomorrow[7].nil? then @tomorrow[7].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[7].nil? then @tomorrow[7].name end %></a></td><td><%= if !@tomorrow[7].nil? then @tomorrow[7].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[8].nil? && @tomorrow[8].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[8].nil? then @tomorrow[8].name end %></a></td><td><%= if !@tomorrow[8].nil? then @tomorrow[8].place end %></td></th>
    <% elsif !@tomorrow[8].nil? && @tomorrow[8].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[8].nil? then @tomorrow[8].name end %></a></td><td><%= if !@tomorrow[8].nil? then @tomorrow[8].place end %></td></th>
    <% elsif !@tomorrow[8].nil? && @tomorrow[8].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[8].nil? then @tomorrow[8].name end %></a></td><td><%= if !@tomorrow[8].nil? then @tomorrow[8].place end %></td></th>
    <% elsif !@tomorrow[8].nil? && @tomorrow[8].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[8].nil? then @tomorrow[8].name end %></a></td><td><%= if !@tomorrow[8].nil? then @tomorrow[8].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[8].nil? then @tomorrow[8].name end %></a></td><td><%= if !@tomorrow[8].nil? then @tomorrow[8].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[9].nil? && @tomorrow[9].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[9].nil? then @tomorrow[9].name end %></a></td><td><%= if !@tomorrow[9].nil? then @tomorrow[9].place end %></td></th>
    <% elsif !@tomorrow[9].nil? && @tomorrow[9].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[9].nil? then @tomorrow[9].name end %></a></td><td><%= if !@tomorrow[9].nil? then @tomorrow[9].place end %></td></th>
    <% elsif !@tomorrow[9].nil? && @tomorrow[9].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[9].nil? then @tomorrow[9].name end %></a></td><td><%= if !@tomorrow[9].nil? then @tomorrow[9].place end %></td></th>
    <% elsif !@tomorrow[9].nil? && @tomorrow[9].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[9].nil? then @tomorrow[9].name end %></a></td><td><%= if !@tomorrow[9].nil? then @tomorrow[9].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[9].nil? then @tomorrow[9].name end %></a></td><td><%= if !@tomorrow[9].nil? then @tomorrow[9].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[10].nil? && @tomorrow[10].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[10].nil? then @tomorrow[10].name end %></a></td><td><%= if !@tomorrow[10].nil? then @tomorrow[10].place end %></td></th>
    <% elsif !@tomorrow[10].nil? && @tomorrow[10].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[10].nil? then @tomorrow[10].name end %></a></td><td><%= if !@tomorrow[10].nil? then @tomorrow[10].place end %></td></th>
    <% elsif !@tomorrow[10].nil? && @tomorrow[10].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[10].nil? then @tomorrow[10].name end %></a></td><td><%= if !@tomorrow[10].nil? then @tomorrow[10].place end %></td></th>
    <% elsif !@tomorrow[10].nil? && @tomorrow[10].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[10].nil? then @tomorrow[10].name end %></a></td><td><%= if !@tomorrow[10].nil? then @tomorrow[10].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[10].nil? then @tomorrow[10].name end %></a></td><td><%= if !@tomorrow[10].nil? then @tomorrow[10].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[11].nil? && @tomorrow[11].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[11].nil? then @tomorrow[11].name end %></a></td><td><%= if !@tomorrow[11].nil? then @tomorrow[11].place end %></td></th>
    <% elsif !@tomorrow[11].nil? && @tomorrow[11].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[11].nil? then @tomorrow[11].name end %></a></td><td><%= if !@tomorrow[11].nil? then @tomorrow[11].place end %></td></th>
    <% elsif !@tomorrow[11].nil? && @tomorrow[11].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[11].nil? then @tomorrow[11].name end %></a></td><td><%= if !@tomorrow[11].nil? then @tomorrow[11].place end %></td></th>
    <% elsif !@tomorrow[11].nil? && @tomorrow[11].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[11].nil? then @tomorrow[11].name end %></a></td><td><%= if !@tomorrow[11].nil? then @tomorrow[11].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[11].nil? then @tomorrow[11].name end %></a></td><td><%= if !@tomorrow[1].nil? then @tomorrow[11].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[12].nil? && @tomorrow[12].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[12].nil? then @tomorrow[12].name end %></a></td><td><%= if !@tomorrow[12].nil? then @tomorrow[12].place end %></td></th>
    <% elsif !@tomorrow[12].nil? && @tomorrow[12].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[12].nil? then @tomorrow[12].name end %></a></td><td><%= if !@tomorrow[12].nil? then @tomorrow[12].place end %></td></th>
    <% elsif !@tomorrow[12].nil? && @tomorrow[12].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[12].nil? then @tomorrow[12].name end %></a></td><td><%= if !@tomorrow[12].nil? then @tomorrow[12].place end %></td></th>
    <% elsif !@tomorrow[12].nil? && @tomorrow[12].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[12].nil? then @tomorrow[12].name end %></a></td><td><%= if !@tomorrow[12].nil? then @tomorrow[12].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[12].nil? then @tomorrow[12].name end %></a></td><td><%= if !@tomorrow[12].nil? then @tomorrow[12].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[13].nil? && @tomorrow[13].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[13].nil? then @tomorrow[13].name end %></a></td><td><%= if !@tomorrow[13].nil? then @tomorrow[13].place end %></td></th>
    <% elsif !@tomorrow[13].nil? && @tomorrow[13].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[13].nil? then @tomorrow[13].name end %></a></td><td><%= if !@tomorrow[13].nil? then @tomorrow[13].place end %></td></th>
    <% elsif !@tomorrow[13].nil? && @tomorrow[13].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[13].nil? then @tomorrow[13].name end %></a></td><td><%= if !@tomorrow[13].nil? then @tomorrow[13].place end %></td></th>
    <% elsif !@tomorrow[13].nil? && @tomorrow[13].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[13].nil? then @tomorrow[13].name end %></a></td><td><%= if !@tomorrow[13].nil? then @tomorrow[13].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[13].nil? then @tomorrow[13].name end %></a></td><td><%= if !@tomorrow[13].nil? then @tomorrow[13].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[14].nil? && @tomorrow[14].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[14].nil? then @tomorrow[14].name end %></a></td><td><%= if !@tomorrow[14].nil? then @tomorrow[14].place end %></td></th>
    <% elsif !@tomorrow[14].nil? && @tomorrow[14].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[14].nil? then @tomorrow[14].name end %></a></td><td><%= if !@tomorrow[14].nil? then @tomorrow[14].place end %></td></th>
    <% elsif !@tomorrow[14].nil? && @tomorrow[14].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[14].nil? then @tomorrow[14].name end %></a></td><td><%= if !@tomorrow[14].nil? then @tomorrow[14].place end %></td></th>
    <% elsif !@tomorrow[14].nil? && @tomorrow[14].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[14].nil? then @tomorrow[14].name end %></a></td><td><%= if !@tomorrow[14].nil? then @tomorrow[14].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[14].nil? then @tomorrow[14].name end %></a></td><td><%= if !@tomorrow[14].nil? then @tomorrow[14].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[15].nil? && @tomorrow[15].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[15].nil? then @tomorrow[15].name end %></a></td><td><%= if !@tomorrow[15].nil? then @tomorrow[15].place end %></td></th>
    <% elsif !@tomorrow[15].nil? && @tomorrow[15].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[15].nil? then @tomorrow[15].name end %></a></td><td><%= if !@tomorrow[15].nil? then @tomorrow[15].place end %></td></th>
    <% elsif !@tomorrow[15].nil? && @tomorrow[15].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[15].nil? then @tomorrow[15].name end %></a></td><td><%= if !@tomorrow[15].nil? then @tomorrow[15].place end %></td></th>
    <% elsif !@tomorrow[15].nil? && @tomorrow[15].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[15].nil? then @tomorrow[15].name end %></a></td><td><%= if !@tomorrow[15].nil? then @tomorrow[15].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[15].nil? then @tomorrow[15].name end %></a></td><td><%= if !@tomorrow[15].nil? then @tomorrow[15].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[16].nil? && @tomorrow[16].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[16].nil? then @tomorrow[16].name end %></a></td><td><%= if !@tomorrow[16].nil? then @tomorrow[16].place end %></td></th>
    <% elsif !@tomorrow[16].nil? && @tomorrow[16].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[16].nil? then @tomorrow[16].name end %></a></td><td><%= if !@tomorrow[16].nil? then @tomorrow[16].place end %></td></th>
    <% elsif !@tomorrow[16].nil? && @tomorrow[16].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[16].nil? then @tomorrow[16].name end %></a></td><td><%= if !@tomorrow[16].nil? then @tomorrow[16].place end %></td></th>
    <% elsif !@tomorrow[16].nil? && @tomorrow[16].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[16].nil? then @tomorrow[16].name end %></a></td><td><%= if !@tomorrow[16].nil? then @tomorrow[16].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[16].nil? then @tomorrow[16].name end %></a></td><td><%= if !@tomorrow[16].nil? then @tomorrow[16].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[17].nil? && @tomorrow[17].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[17].nil? then @tomorrow[17].name end %></a></td><td><%= if !@tomorrow[17].nil? then @tomorrow[17].place end %></td></th>
    <% elsif !@tomorrow[17].nil? && @tomorrow[17].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[17].nil? then @tomorrow[17].name end %></a></td><td><%= if !@tomorrow[17].nil? then @tomorrow[17].place end %></td></th>
    <% elsif !@tomorrow[17].nil? && @tomorrow[17].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[17].nil? then @tomorrow[17].name end %></a></td><td><%= if !@tomorrow[17].nil? then @tomorrow[17].place end %></td></th>
    <% elsif !@tomorrow[17].nil? && @tomorrow[17].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[17].nil? then @tomorrow[17].name end %></a></td><td><%= if !@tomorrow[17].nil? then @tomorrow[17].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[17].nil? then @tomorrow[17].name end %></a></td><td><%= if !@tomorrow[17].nil? then @tomorrow[17].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[18].nil? && @tomorrow[18].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[18].nil? then @tomorrow[18].name end %></a></td><td><%= if !@tomorrow[18].nil? then @tomorrow[18].place end %></td></th>
    <% elsif !@tomorrow[18].nil? && @tomorrow[18].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[18].nil? then @tomorrow[18].name end %></a></td><td><%= if !@tomorrow[18].nil? then @tomorrow[18].place end %></td></th>
    <% elsif !@tomorrow[18].nil? && @tomorrow[18].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[18].nil? then @tomorrow[18].name end %></a></td><td><%= if !@tomorrow[18].nil? then @tomorrow[18].place end %></td></th>
    <% elsif !@tomorrow[18].nil? && @tomorrow[18].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[18].nil? then @tomorrow[18].name end %></a></td><td><%= if !@tomorrow[18].nil? then @tomorrow[18].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[18].nil? then @tomorrow[18].name end %></a></td><td><%= if !@tomorrow[18].nil? then @tomorrow[18].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[19].nil? && @tomorrow[19].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[19].nil? then @tomorrow[19].name end %></a></td><td><%= if !@tomorrow[19].nil? then @tomorrow[19].place end %></td></th>
    <% elsif !@tomorrow[19].nil? && @tomorrow[19].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[19].nil? then @tomorrow[19].name end %></a></td><td><%= if !@tomorrow[19].nil? then @tomorrow[19].place end %></td></th>
    <% elsif !@tomorrow[19].nil? && @tomorrow[19].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[19].nil? then @tomorrow[19].name end %></a></td><td><%= if !@tomorrow[19].nil? then @tomorrow[19].place end %></td></th>
    <% elsif !@tomorrow[19].nil? && @tomorrow[19].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[19].nil? then @tomorrow[19].name end %></a></td><td><%= if !@tomorrow[19].nil? then @tomorrow[19].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[19].nil? then @tomorrow[19].name end %></a></td><td><%= if !@tomorrow[19].nil? then @tomorrow[19].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[20].nil? && @tomorrow[20].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[20].nil? then @tomorrow[20].name end %></a></td><td><%= if !@tomorrow[20].nil? then @tomorrow[20].place end %></td></th>
    <% elsif !@tomorrow[20].nil? && @tomorrow[20].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[20].nil? then @tomorrow[20].name end %></a></td><td><%= if !@tomorrow[20].nil? then @tomorrow[20].place end %></td></th>
    <% elsif !@tomorrow[20].nil? && @tomorrow[20].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[20].nil? then @tomorrow[20].name end %></a></td><td><%= if !@tomorrow[20].nil? then @tomorrow[20].place end %></td></th>
    <% elsif !@tomorrow[20].nil? && @tomorrow[20].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[20].nil? then @tomorrow[20].name end %></a></td><td><%= if !@tomorrow[20].nil? then @tomorrow[20].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[20].nil? then @tomorrow[20].name end %></a></td><td><%= if !@tomorrow[20].nil? then @tomorrow[20].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[21].nil? && @tomorrow[21].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[21].nil? then @tomorrow[21].name end %></a></td><td><%= if !@tomorrow[21].nil? then @tomorrow[21].place end %></td></th>
    <% elsif !@tomorrow[21].nil? && @tomorrow[21].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[21].nil? then @tomorrow[21].name end %></a></td><td><%= if !@tomorrow[21].nil? then @tomorrow[21].place end %></td></th>
    <% elsif !@tomorrow[21].nil? && @tomorrow[21].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[21].nil? then @tomorrow[21].name end %></a></td><td><%= if !@tomorrow[21].nil? then @tomorrow[21].place end %></td></th>
    <% elsif !@tomorrow[21].nil? && @tomorrow[21].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[21].nil? then @tomorrow[21].name end %></a></td><td><%= if !@tomorrow[21].nil? then @tomorrow[21].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[21].nil? then @tomorrow[21].name end %></a></td><td><%= if !@tomorrow[21].nil? then @tomorrow[21].place end %></td></tr>
     <% end %>

    <% if !@tomorrow[22].nil? && @tomorrow[22].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[22].nil? then @tomorrow[22].name end %></a></td><td><%= if !@tomorrow[22].nil? then @tomorrow[22].place end %></td></th>
    <% elsif !@tomorrow[22].nil? && @tomorrow[22].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[22].nil? then @tomorrow[22].name end %></a></td><td><%= if !@tomorrow[22].nil? then @tomorrow[22].place end %></td></th>
    <% elsif !@tomorrow[22].nil? && @tomorrow[22].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[22].nil? then @tomorrow[22].name end %></a></td><td><%= if !@tomorrow[22].nil? then @tomorrow[22].place end %></td></th>
    <% elsif !@tomorrow[22].nil? && @tomorrow[22].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[22].nil? then @tomorrow[22].name end %></a></td><td><%= if !@tomorrow[22].nil? then @tomorrow[22].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[22].nil? then @tomorrow[22].name end %></a></td><td><%= if !@tomorrow[22].nil? then @tomorrow[22].place end %></td></tr>
     <% end %>

  <% if !@tomorrow[23].nil? && @tomorrow[23].category == 1 %>
    <tr height = "38" bgcolor="#32CD32"><td><a href="index"><%= if !@tomorrow[23].nil? then @tomorrow[23].name end %></a></td><td><%= if !@tomorrow[23].nil? then @tomorrow[23].place end %></td></th>
    <% elsif !@tomorrow[23].nil? && @tomorrow[23].category == 2 %>
      <tr height = "38" bgcolor="#FF6347"><td><a href="index"><%= if !@tomorrow[23].nil? then @tomorrow[23].name end %></a></td><td><%= if !@tomorrow[23].nil? then @tomorrow[23].place end %></td></th>
    <% elsif !@tomorrow[23].nil? && @tomorrow[23].category == 3 %>
      <tr height = "38" bgcolor="#4682B4"><td><a href="index"><%= if !@tomorrow[23].nil? then @tomorrow[23].name end %></a></td><td><%= if !@tomorrow[23].nil? then @tomorrow[23].place end %></td></th>
    <% elsif !@tomorrow[23].nil? && @tomorrow[23].category == 4 %>
      <tr height = "38" bgcolor="#FFD700"><td><a href="index"><%= if !@tomorrow[23].nil? then @tomorrow[23].name end %></a></td><td><%= if !@tomorrow[23].nil? then @tomorrow[23].place end %></td></th>
      <% else %>
    <tr height = "38"><td><a href="index"><%= if !@tomorrow[23].nil? then @tomorrow[23].name end %></a></td><td><%= if !@tomorrow[23].nil? then @tomorrow[23].place end %></td></tr>
     <% end %>

  </tbody>
  </head>
</table>

<br>
</div>
<%#= javascript_include_tag "event_calendar" %>
<div id="group">
<div id="calendar">
<%#= link_to("newold", :controller => "events", :action => "new") %>
<%= link_to 'new', '#', class: 'newopen' %>
<%= link_to 'edit', '#', class: 'editopen' %>
<%= raw(event_calendar) %>
</div>
<div id=detail><%= render partial: 'detail', locals:{event: @event, id: params[:id]} %></div>
<div id=todolist><%= render partial: 'todolist', locals:{todos: @todos, new_todo: @new_todo} %></div>
</div>
<div id="newmodal" style="display:none;">
<%= form_for @new_event, url: '/event/create' do |f| %>
    <%= f.hidden_field :id %>
    <p><b><%= f.label :name, "タイトル" %></b><br>
    <%= f.text_field :name %></p>
    <p><b><%= f.label :start_at, "開始時刻" %></b><br>
      <%= raw sprintf(f.datetime_select(:start_at, :default => Time.now.in_time_zone('Tokyo'), :use_month_numbers => true, :date_separator => '%s', :datetime_separator => ' %s', :time_separator => '%s'),'年 ','月 ','日 ','時 ')+'分'%></p>
      <p><b><%= f.label :end_at,"終了時刻" %></b><br>
      <%= raw sprintf(f.datetime_select(:end_at, :default => Time.now.in_time_zone('Tokyo'), :use_month_numbers => true, :date_separator => '%s', :datetime_separator => ' %s', :time_separator => '%s'),'年 ','月 ','日 ','時 ')+'分'%></p>
    <p><b><%= f.label :place, "場所" %></b><br>
    <%= f.text_field :place %></p>
    <p><b><%= f.label :person, "相手" %></b><br>
    <%= f.text_field :person %></p>
    <p><b><%= f.label :baggage, "持ち物" %></b><br>
    <%= f.text_field :baggage %></p>
    <p><b><%= f.label :category, "カテゴリ"%></b><br>
    <%= f.select :category, [["遊び", 1],["研究室", 2],["バイト", 3],["授業", 4],["その他",0]] %></p>
    <div >
      <p><b>繰り返し設定</b><br>
      <%= f.check_box :mon %>
      <%= f.label :mon, "月 " %>
      <%= f.check_box :tue %>
      <%= f.label :tue, "火 " %>
      <%= f.check_box :wed %>
      <%= f.label :wed, "水 " %>
      <%= f.check_box :thu %>
      <%= f.label :thu, "木 " %>
      <%= f.check_box :fri %>
      <%= f.label :fri, "金 " %>
      <%= f.check_box :sat %>
      <%= f.label :sat, "土 " %>
      <%= f.check_box :sun %>
      <%= f.label :sun, "日 " %><br>
      <%= f.label :deadline, "繰り返し終了" %><br>
      <%= raw sprintf(f.date_select(:deadline, :default => Time.now.in_time_zone('Tokyo'), :use_month_numbers => true, :date_separator => '%s'),'年 ','月 ',)+'日'%></p>
    </div>
    <p><a id="button" href="javascript:;">一括登録</a></p>
    <div id="addMonth"></div>
    <%= f.submit "送信"%>
<% end %>
</div>

<div id="editmodal" style="display:none;">
<%#= form_for@event, url: event_path do |f| %>
<%# @event = @new_event %>
<%= form_for @event, url: '/event/create' do |f| %>
    <%= f.hidden_field :id %>
    <p><b><%= f.label :name, "タイトル" %></b><br>
    <%= f.text_field :name %></p>
    <p><b><%= f.label :start_at, "開始時刻"%></b><br>
    <%= raw sprintf(f.datetime_select(:start_at, :default => Time.now.in_time_zone('Tokyo'), :use_month_numbers => true, :date_separator => '%s', :datetime_separator => ' %s', :time_separator => '%s'),'年 ','月 ','日 ','時 ')+'分'%></p>
    <p><b><%= f.label :end_at,"終了時刻" %></b><br>
    <%= raw sprintf(f.datetime_select(:end_at, :default => Time.now.in_time_zone('Tokyo'), :use_month_numbers => true, :date_separator => '%s', :datetime_separator => ' %s', :time_separator => '%s'),'年 ','月 ','日 ','時 ')+'分'%></p>
    <p><b><%= f.label :place, "場所" %></b><br>
    <%= f.text_field :place %></p>
    <p><b><%= f.label :person, "相手" %></b><br>
    <%= f.text_field :person %></p>
    <p><b><%= f.label :baggage, "持ち物" %></b><br>
    <%= f.text_field :baggage %></p>
    <p><b><%= f.label :category, "カテゴリ"%></b><br>
    <%= f.select :category, [["遊び", 1],["研究室", 2],["バイト", 3],["授業", 4],["その他", 0]] %></p>
    <%= f.submit "送信", name:"update_button" %>
    <%= f.submit "削除", name:"delete_button", data:{:confirm => "本当に削除しますか?"} %>
    <%= f.submit "以降の繰り返し予定を削除", name:"delete_all_button", data:{:confirm => "本当に削除しますか?"} %>
<% end %>
</div>


<!-- <script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript"> -->
<script>
  $(function() {
    $('.newopen').click(function() {
      $('#newmodal').dialog({
        modal: true,
        resizable: true,
        width: 'auto',
        title: '新規作成'
      });
    });
    $('.editopen').click(function() {
      $('#editmodal').dialog({
        modal: true,
        resizable: true,
        width: 'auto',
        title: '編集'
      });
    });
  });
</script>

<%#= javascript_include_tag "application" %>
<script>
/**
 * @fileOverview hoge
 */
 
// Namespace
var PRJ = PRJ || {};
 
(function($, d, ns){
    'use strict';
 
    function pad2(arg) {
        var tmp = '00' + arg;
 
        return tmp.slice(-2, tmp.length);
    }
 
    var addMonth = {
        c: {
            done: '<a href="javascript:;" id="done">決定</a>'
        },
        initialize: function() {
            this.$elm = $('#addMonth');
            this.$elm.datepicker({
                onSelect: $.proxy(this.handleSelect, this),
                beforeShowDay: $.proxy(this.beforeShowDay, this),
                dateFormat: 'yy/mm/dd'
            }).hide();
            this.$done = $(this.c.done);
            this.$done.click($.proxy(this.handleDone, this));
            this.$elm.append(this.$done);
            this.$btn = $('#button');
            this.$btn.click($.proxy(this.handleClick, this));
            this.selected = [];
        },
        handleClick: function() {
            this.$elm.show();
        },
        handleDone: function() {
            this.$elm.hide();
        },
        handleSelect: function(date) {
            var index = $.inArray(date, this.selected);
            if(index == -1) {
                this.selected.push(date);
            } else {
                delete this.selected[index];
            }
        },
        beforeShowDay: function(date) {
            var theday = date.getFullYear() + '/' +
                pad2(date.getMonth()+1)+'/'+
                pad2(date.getDate());
 
            return [true, $.inArray(theday, this.selected)>=0? 'selected':''];
        }
    };
 
    // Export
    ns.addMonth = addMonth;
 
})(jQuery, document, PRJ);
 
$(function() {
    PRJ.addMonth.initialize();
});
</script>
