<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>

<h1>Today: <%= Date.today %></h1>
<%= link_to("newold", :controller => "events", :action => "new") %>
<%= link_to 'new', '#', class: 'newopen' %>
<%= link_to 'edit', '#', class: 'editopen' %>
<%= raw(event_calendar) %>
<%#= javascript_include_tag "event_calendar" %>
<%= render partial: 'detail', locals:{event: @event, id: params[:id]} %>

<div id="newmodal" style="display:none;">
<%= form_for @new_event, url: '/event/create' do |f| %>
    <%= f.hidden_field :id %>
    <p><b><%= f.label :name, "タイトル" %></b><br>
    <%= f.text_field :name %></p>
    <p><b><%= f.label :start_at, "開始時刻"%></b><br>
    <%= f.datetime_select :start_at %></p>
    <p><b><%= f.label :end_at,"終了時刻" %></b><br>
    <%= f.datetime_select :end_at %></p>
    <p><b><%= f.label :place, "場所" %></b><br>
    <%= f.text_field :place %></p>
    <p><b><%= f.label :person, "相手" %></b><br>
    <%= f.text_field :person %></p>
    <p><b><%= f.label :baggage, "持ち物" %></b><br>
    <%= f.text_field :baggage %></p>
    <p><b><%= f.label :category, "カテゴリ"%></b><br>
    <%= f.text_field :category %></p>
    <div >
      <p><b>繰り返し設定</b><br>
      <%= f.check_box :mon %>
      <%= f.label :mon, "月" %>
      <%= f.check_box :tue %>
      <%= f.label :tue, "火" %>
      <%= f.check_box :wed %>
      <%= f.label :wed, "水" %>
      <%= f.check_box :thu %>
      <%= f.label :thu, "木" %>
      <%= f.check_box :fri %>
      <%= f.label :fri, "金" %>
      <%= f.check_box :sat %>
      <%= f.label :sat, "土" %>
      <%= f.check_box :sun %>
      <%= f.label :sun, "日" %><br>
      <%= f.label :deadline, "繰り返し終了" %><br>
      <%= f.date_select :deadline %>
    </div>
    <%= f.submit "送信"%>
<% end %>
</div>

<div id="editmodal" style="display:none;">
<%#= form_for@event, url: event_path do |f| %>
<%# @event = @new_event %>
<%= form_for @event, url: '/event/create' do |f| %>
    <%= f.hidden_field :id %>
    <p><b><%= f.label :name, "タイトル" %></b><br>
    <%= f.text_field :name %></p>
    <p><b><%= f.label :start_at, "開始時刻"%></b><br>
    <%= f.datetime_select :start_at %></p>
    <p><b><%= f.label :end_at,"終了時刻" %></b><br>
    <%= f.datetime_select :end_at %></p>
    <p><b><%= f.label :place, "場所" %></b><br>
    <%= f.text_field :place %></p>
    <p><b><%= f.label :person, "相手" %></b><br>
    <%= f.text_field :person %></p>
    <p><b><%= f.label :baggage, "持ち物" %></b><br>
    <%= f.text_field :baggage %></p>
    <p><b><%= f.label :category, "カテゴリ"%></b><br>
    <%= f.text_field :category %></p>
    <%= f.submit "送信", name:"update_button" %>
    <%= f.submit "削除", name:"delete_button" %>
    <%= f.submit "全ての繰り返し予定を削除", name:"delete_all_button" %>
<% end %>
</div>


<!-- <script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript"> -->
<script>
  $(function() {
    $('.newopen').click(function() {
      $('#newmodal').dialog({
        modal: true,
        resizable: true,
        width: 'auto',
        title: '新規作成'
      });
    });
    $('.editopen').click(function() {
      $('#editmodal').dialog({
        modal: true,
        resizable: true,
        width: 'auto',
        title: '編集'
      });
    });
  });
</script>

<%#= javascript_include_tag "application" %>
