<h1><%= @event.name %></h1>
<p><b>start: </b><%= @event.start_at %></p>
<p><b>end: </b><%= @event.end_at %></p>
<p><b>place: </b><%= @event.place %></p>
<p><b>person: </b><%= @event.person %></p>
<p><b>baggage: </b><%= @event.baggage %></p>
<p><b>category: </b><%= @event.category %></p>
<%# <a href=/events/delete>削除</a><br>


<%# <p><%= link_to "削除", :controller => "events", :action => "delete" %></p>
